name: Validate Commits
on: [pull_request]

jobs:
  commit-message-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0 # Need full history to compare commits

      - name: Validate commit messages
        run: |
          #!/bin/bash
          BASE_SHA=${{ github.event.pull_request.base.sha }}
          HEAD_SHA=${{ github.event.pull_request.head.sha }}
          echo "Checking commits between $BASE_SHA and $HEAD_SHA"

          git fetch origin $BASE_SHA

          while read msg; do
            echo "Commit: $msg"
            if ! echo "$msg" | grep -P "^((Merge)|(feat|fix|docs|chore|build|ci|docs|style|refactor|perf|revert|test)(\(.+\))?(!?):)"; then
              echo "Invalid commit message: $msg"
              exit 1
            fi
          done < <(git log $BASE_SHA..$HEAD_SHA --pretty=format:"%s")
